<h1>Latest Posts</h1>
<ul class="small-block-grid-4">
  <li ng-repeat="post in posts" class="row">
  	<div class="columns small-4">
  		<img ng-src="http://www.gravatar.com/avatar/{{post.hash}}?d=identicon" /> 
  	</div>
  	<div class="columns small-8">
  		<em>{{post.email}}</em> 
  		<blockquote>{{post.contents}}</blockquote>
  		<small>Posted {{post.posted}}</small>
  	</div>
  </li>
</ul>

<hr />
<div ng-show="$parent.auth.user">
	<h2>Write a new post</h2>
	<form ng-submit="addPost()" class="row">
		<div class="columns small-10">
			<input type="text" ng-model="postContents" ng-class="{error: hasError}" /> 
			<small class="error" ng-show="hasError">{{error}}</small>
		</div>
		<input class="button columns small-1" type="submit" value="Post"/>
	</form>
</div>
